<ion-header>
  <ion-toolbar color='warning'>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>University of Patras</ion-card-subtitle>
    <ion-card-title>All4Campus</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    All4campus is a mobile app we created to help our special classmates to have an easy and fast access to All
    the places they want inside the campus.By clicking on the map you can find if the ramps and the elevators are free depending on the colour of the pin.
    Also by clicking on report you can let us know 
    about some issue that occured with the app.
  </ion-card-content>
</ion-card>
<ion-card>
<ion-item>
  <ion-icon name="pin"  color="success"></ion-icon>
  <ion-label>Available</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="pin"  color="warning"></ion-icon>
  <ion-label>For now Not Available(5 minutes)</ion-label>
</ion-item>
<ion-item>
  <ion-icon name="pin"  color="danger"></ion-icon>
  <ion-label>Not Available(More than 15 minutes)</ion-label>
 
</ion-item>

</ion-card>
