ion-title{
    font-size:18px;
    font-weight:lighter;
    display:flex;
}
ion-item{
    font-size:20px;
    font-weight:lighter;
    display:flex;
    padding:30px;

}
ion-item a{
    font-size: 15px;
}