<ion-content>
  
</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button tab="info">
    <ion-icon name="information-circle"></ion-icon>
  <ion-label>info</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="map">
    <ion-icon name="navigate"></ion-icon>
  <ion-label>Map</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="contact">
    <ion-icon name="call"></ion-icon>

  <ion-label>Report</ion-label>
  </ion-tab-button>
  
  
  
  </ion-tab-bar>
</ion-tabs>
